/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/.utmp/
*.csproj
*.sln
Server/*.sqlite3*
__pycache__/
*.log
/Assets/StreamingAssets/FaithfulModels/

/Assets/StreamingAssets/FaithfulPortraits/
